body, html {
  background-color: #202427;
}

a {
  color: #00A878;
}

.recharts-default-tooltip {
  background-color: #202427 !important;
  border: none !important;
}

.hidden-icon {
  visibility: hidden;
}