.correct-answer {
  color: rgb(0, 210, 0);
}

.wrong-answer {
  color: rgb(210, 0, 0);
}

.first-answer {
  font-size: 1.2em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.prev-next-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.image-loading {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40vh;
  padding-left: 100px;
}

.image-content {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40vh;
  overflow: hidden;
}

.hidden {
  display: none;
}