.config-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #333;
  padding: 5px;
  width: 90%;
  max-width: 800px;
  position: relative;
  border: 1px solid #666;
  overflow: hidden;
}

.close-button {
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  background: #aaa;
  color: black;
  border: 1px solid #666;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
}

.modal-config-container {
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
}